<!-- templates/tienda/tienda_detail.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <!-- Tarjeta de detalles de la tienda -->
    <div class="card mb-4">


        {% if user.is_authenticated and user != tienda.id_usuario %}
        <a href="{% url 'solicitud' tienda_id=tienda.id_tienda %}" class="btn btn-info" style="margin-bottom: 10px;">Crear Solicitud</a>
        {% endif %}

        {% if user.is_authenticated and user == tienda.id_usuario or user.username == "sebastian" %}
        <a href="{% url 'listarSolicitudes' tienda_id=tienda.id_tienda %}" class="btn btn-info">Ver Solicitudes</a>
        {% endif %}


        <!-- Imagen de la tienda -->
        <div class="text-center">
            {% if tienda.imagen %}
            <img src="{{ tienda.imagen.url }}" alt="{{ tienda.nombre }}" class="img-fluid w-100" style="max-height: 200px; object-fit: contain;">
            {% else %}
            <img src="{% static 'img/default_store.png' %}" alt="Imagen no disponible" class="img-fluid w-100" style="max-height: 500px; object-fit: contain;">
            {% endif %}
        </div>
        <div class="card-body">
            <!-- Información de la tienda -->
            <h1 class="card-title">{{ tienda.nombre }}</h1>
            <p class="card-text"><strong>Descripción:</strong> {{ tienda.descripcion }}</p>
            <p class="card-text"><strong>Teléfono:</strong> {{ tienda.telefono }}</p>
            <p class="card-text"><strong>Correo:</strong> {{ tienda.correo }}</p>
            <p class="card-text"><strong>Instagram:</strong> <a href="{{ tienda.instagram }}" target="_blank">{{ tienda.instagram }}</a></p>
            <p class="card-text"><strong>Fecha de Creación:</strong> {{ tienda.fecha_creacion }}</p>

            <!-- Botones para acciones -->
            <div class="mt-4">
                <a href="{% url 'listar_inventario' tienda.id_tienda %}" class="btn btn-primary">Ver Inventario</a>

                {% if user.is_authenticated and user == tienda.id_usuario or user.username == "sebastian" %}
                <a href="{% url 'crear_producto' %}" class="btn btn-success">Agregar Producto</a>
                {% endif %}

                <a href="{% url 'listar_tienda' %}" class="btn btn-secondary">Volver a la lista de tiendas</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
