/* Custom Navbar */
/* Custom Navbar */
.custom-navbar {
  background-color: #fcbf4f; /* Puedes cambiar este color a tu preferencia */
  padding: 15px;
  border-bottom: 1px solid #ccc;

}

.custom-navbar .navbar-brand img {
  width: 60px;
  height: 50px;
}

.custom-nav-link {
  color: #fff; /* Color del texto */
  margin-left: 10px;
  margin-right: 10px;

}

.custom-nav-link:hover {
  color: #ccc; /* Color al hacer hover */
}

.custom-nav-link.active {
  color: black;
  font-weight: bold;
  font-style: italic; /* Nuevo estilo añadido */

}


.custom-nav-link.disabled {
  color: #ccc; /* Color para los enlaces deshabilitados */
}


/* Footer */
footer.page {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    border-top: 1px solid #ccc;
}

footer.page .type {
    margin-top: 20px;
}

footer.page .text-center {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos para pantallas más pequeñas (menos de 768px) */
@media screen and (max-width: 768px) {
    footer.page {
        width: 120%;
    }
}

.custom-navbar .custom-nav-link {
  font-size: 18px !important;
}
